@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
	margin: 1rem;
}
p {
	margin: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	background-color: #eee;
}

.highlight {
	color: navy;
	font-weight: 700;
	font-family: hebrew;
}


#student-name{
    color: #ff0;
}
.nav-list:hover{
    font-size: large;
    font-style: italic;
}
.gallary-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 25px;
}

.course-title{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.2;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    justify-items: center;

}
.project{
    display: flex;
    justify-content: center;
}
.contact{
    display: flex;
    background-color: #fff;
    background-size: cover;
    list-style: none;
}
.contact li {
    list-style: none;
    line-height: 1.76;
}
#profile-pic{
    height: 100px;
    width: 200px;
}

.logo-img{
    display: flex;
    border-radius: 5px;
    margin-right: 100%;
    margin-bottom: 50px;
    border: 1px solid #fff;
    background-color: aliceblue;
}


.site-header #course-title{
    display: flex;
    align-items: center;
    text-align: center;
}

#name-highlight{
    display: flex;
    color:yellowgreen;
    font-weight: 700;
}
 ul #link a{
    display: flex;
    text-decoration: none;
    font-weight: 500;
    padding: .4rem .8rem;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    color: #fff;
}

.nav-list a{
    display: flex;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #2c5aa0;
    list-style: none;
}




#course-title .student-name{
    font-weight: 500;
    margin-left: 5px;
    font-size: large;
    color: #ff0;
    text-transform: capitalize;
    letter-spacing: .2px;
}
#course-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: .3px;
    font-size: large;
    line-height: 1.2;
    text-transform: uppercase;

}

.site-nav{
    background-color: #000;
    margin: 1px;
    display:block;
    unicode-bidi: isolate;
    padding: 1px;
    margin-bottom: 5px;
}
.site-nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: .5px;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}
.site-nav ul{
    list-style: none;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .2rem;
    margin: 1px 0;
    padding: .5rem 0;
}


header{
    text-align: center;
    background: linear-gradient(135deg, #2c5aa0,#fff);

}
.nav-list{ 
    list-style: none;
    display: flex !important;
    margin: 5px 0;
    padding: .5rem 0;
    justify-content: space-between;
    text-align: center;
}

nav ul a #link{ 
    text-decoration: none;
    color:white;
    font-weight: bold;
    justify-content: space-between;

 }
 nav{
    justify-content:space-evenly;
    border-radius: 5px;
 }
main{
    grid-template-rows:2fr 1fr ;
    grid-template-columns: 2fr 1fr;
    max-width: calc(100% - 4rem);
    margin: 2rem auto;
    padding: 0 2rem;
    display: grid;
    gap: 2rem;
    unicode-bidi: isolate;
}


.card:hover{
transform: translate(-5px);
}

.card h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    margin: 2rem -2rem 1.5px -2rem;
    text-align: center;
    padding: 1rem 2rem;
    min-height: 50px;
    justify-content: center;
    background-color: #2c5aa0;
}
.card h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    margin: 2rem -2rem 1.5px -2rem;
    text-align: center;
    padding: 1rem 2rem;
    min-height: 50px;
    justify-content: center;
    background-color: #2c5aa0;
}

.country-section{
    clear: both;
    margin-top: 2rem;
}

#profile-pic img{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    border-radius: 25px ;
}



.card{
    margin-bottom: 0.8rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

} 
.card ul{
list-style: none;
}
.country-content{
    display: flex;
    max-width: 80%;
    gap: 1rem;
    margin-top: 1rem;

}
.learning{
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 30px;
    border-radius: 20px;
}
.card #card-items{
    display: flex;
    justify-content: center;
}

footer{
    background: linear-gradient(135deg, #2c5aa0,#fff);
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;

}




